@import url("react-date-range/dist/styles.css");
@import url("react-date-range/dist/theme/default.css");

@tailwind components;
@tailwind utilities;

@layer components {
    .button {
        @apply px-4 py-2 border rounded-full 
        cursor-pointer hover:shadow-lg active:scale-95 active:bg-gray-100
        transition duration-100 ease-out
    }

    .menu-item {
        @apply block px-4 py-2 font-light
    }

    .menu-item-login {
        @apply block px-4 py-2 font-semibold hover:cursor-not-allowed
    }
}

@layer utilities {
    /* .horizontal-line-parent {
        width: 100%; 
        text-align: center; 
        line-height: 0.2em;
        margin: 10px 0 40px; 
    } */

    .continue-btn-bg {
        background-color: #dd115c;
    }
}

.rdrDefinedRangesWrapper {
    display: none;
}

.rdrMonthPicker {
    display: none;
}

.rdrYearPicker {
    display: none;
}


